.navbar {
    border-radius: 0; /* Remove border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Increase font size for brand */
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #fff; /* Set text color to white */
    font-size: 1.1rem; /* Increase font size for links */
    transition: color 0.3s ease; /* Add transition effect for color change */
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #ddd; /* Set text color to light gray on hover */
  }